<h1>Suscription Confirmation</h1>

<table style="text-align:left;border:1px solid black;">
	<tr>
		<th>Store name</th>
		<th>Suscription time</th>
		<th>Amount</th>
	</tr>
	<tr>
		<td>http://<%= @user.store.name %>.winnamoney.com</th>
		<td>1 year</th>
		<td>189.00 US$</th>
	</tr>
</table>