<% title "Winnamoney | Registro"%>

<h1>Tu tienda se ha registrado con &eacute;xito</h1>

<p>En winnamoney estaremos esperando tu dep&oacute;sito con los datos que nos proporcionaste.</p>

<p>Cuando confirmemos tu pago te llegar&aacute; un correo con la direcci&oacute;n de tu tienda para que puedas comenzar a vender.</p>

<p><%= link_to "Ir a winnamoney", "/" %></p>