
.errorMessages {
	border: 1px solid #660000;
	padding: .5em;
	margin-bottom: 20px;
	margin-top:10px;
	background: #EBCCCC;
	clear: both;
	text-align: left;
}

.errorMessages h2 {
	color: #990000;
	font-size: 100%;
	margin-top: 0;
}

.errorMessages p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

.errorMessages ul li {
	font-size: 12px;
	list-style: disc;
	margin-left: 22px;
}

.error_field { 
border: 1px solid red; 
}

#Flash.flash_notice {
	border: 1px solid #B2E0C1;
	background: #E5F5EA no-repeat 2px 2px;
	color: #009933;
	font-size:1.2em;
	padding:1em;
	margin-bottom:.5em;
}

#Flash.flash_error {
	border: 1px solid #E0B2B2;
	background: #F5E5E5 no-repeat 2px 2px;
	color: #990000;
	text-align:center;
	padding:1em;
	margin-bottom:.5em;
}

#Flash.flash_info {
	background: #FEF5DA no-repeat 2px 2px;;
	border: 1px solid #FCEBB4;
	color: #3E1F02;
	padding:1em;
	margin-bottom:.5em;
}

#flash_notice, #flash_error, #flash_info {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice, #flash_info {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

/******FORM STYLES*******/

form label{
	font-size:16px;
}

form input, form select{
	font-size:14px;
}

form .small{
	width:80px;
}

form .medium{
	width:140px;
}

form .large{
	width:250px;
}

/******FORM STYLES*******/

/******NUEVO CSS INICIO*******/
/******NUEVO CSS INICIO*******/
/******NUEVO CSS INICIO*******/
/******NUEVO CSS INICIO*******/

body {
	margin: 0;
	padding: 0;
	font-family: geneva, arial;
	font-size: 13px;
	color #333;
	background: #ECEBE9;
	text-align: center;
}
#header, #content, #footer {
	width: 100%;
	float: left;
	padding: 10px 0;
}
#header {
	background: #333;
}
#content {
	background: url(/images/bk.jpg) repeat-x top center;
}
.wrapper {
	width: 950px;
	margin: 0px auto;
	position: relative;
	text-align: left;
}
#content .wrapper {
	width: 966px;
}
#logo {
	float: left;
}
/*CORP MENU*/
#menu {
	position: absolute;
	right: 0px;
	top: 25px;
}
#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#menu li {
	float: left;
	margin-left: 10px;
}
#menu a {
	color: #FFF;
	text-decoration: none;
	display: block;
	padding: 3px;
	text-shadow: -1px -1px 0px #000;
	font-size: 14px;
}

#menu a.active {
	color: #99CC33;
}


.clear {
	clear: both;
	margin: 10px 0px;
	width: 100%;
	float: left;
}
/*MAIN BOX*/
#main {
	background: #FFF;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-radius-topleft: 6px;
	-webkit-border-radius-topright: 6px;
	padding: 15px;
	width: 920px;
	_width: 950px;
	float: left;
	margin: 0px 8px;
	_margin: 0px 4px;
}

/*GENERALES*/
a {
	color: #467933;
	text-decoration: none;
}
/*SALUDO*/
#hello p {
	margin: 3px 0px;
	float: left;
}
/*SEARCH*/
#search {
	float: right;
}
.sbox {
	background: #CCC;
	border: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-right: 4px;
	padding: 5px;
	float: left;
	font-size: 14px;
	_height: 26px;
}
.sbutton {
	float: left;
}
/*MENU TIENDA*/
#ribbon {
	background: red url(/images/shadow.png) no-repeat bottom left;
	padding-bottom: 9px;
	float: left;
	width: 966px;
}
#home {
	width: 40px;
	height: 30px;
	background: red;
	float: left;
}
#menutienda {
	background: #85E1E1;
	width: 966px;
	border: 1px solid #7BCED0;
	float: left;
}
#menutienda ul {
	list-style-type: none;
	margin:  5px 0px;
	padding: 0;
	float: right;
	width: 900px;
}
#menutienda li {
	float: left;
	border: 1px solid #85E1E1;
	margin: 0px;
}
#menutienda a {
	font-weight: bold;
	color: #333;
	font-size: 12px;
	display: block;
	padding: 3px 6px;
	font-family: lucida sans, lucida grande, arial;
}

#menutienda ul.sub {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#D8EEBE none repeat scroll 0 0;
border-color:-moz-use-text-color -moz-use-text-color -moz-use-text-color #9AB881;
border-style:none none none solid;
border-width:medium medium medium 1px;
float:left;
margin:0;
padding:0;
position:absolute;
width:144px;
z-index:1;
}

#menutienda a.active{
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#D8EEBE none repeat scroll 0 0;
	border-left:1px solid #9AB881;
}
#menutienda ul.sub li {
	border-color:-moz-use-text-color -moz-use-text-color #9AB881;
	border-style:none none solid;
	border-width:medium medium 1px;
	float:left;
	margin:0;
	width:100%;
}

#menutienda ul.sub li:hover {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#E2FACA none repeat scroll 0 0;
}

#menutienda ul.sub li a {
	float:left;
	font-size:11px;
	font-weight:normal;
	padding:2px 10px 2px 6px;
	width:140px;
}

/*TWO COLUMNS*/
#rest {
	width: 944px;
	_width: 950px;
	float: left;
	margin: 0px 8px;
	_margin: 0px 4px;
	background: #EFF0ED;
	padding: 0px 0px 20px 0px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-radius-bottomleft: 6px;
	-webkit-border-radius-bottomright: 6px;
	border-left: 3px solid #FFF;
	border-right: 3px solid #FFF;
	border-bottom: 3px solid #FFF;
}
#cleft {
	float: left;
	width: 200px;
	margin: 10px;
	position:relative;
	_margin: 5px;
}
#cright {
	float: left;
	width: 703px;
	margin: 10px;
	_margin: 5px 5px 5px 10px;
}

div.left {
	float:left;
}

.pic {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	color:#CCCCCC;
	display:table-cell;
	font-size:11px;
	height:270px;
	text-align:center;
	text-transform:uppercase;
	vertical-align:middle;
	width:270px;
}

.pic img{
	width:270px;
}

.descripcion {
color:#333333;
float:left;
margin-left:30px;
width:400px;
}

.descripcion h2 {
font-family:arial;
font-size:18px;
}

p.precio {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#CCFF99 none repeat scroll 0 0;
color:#447733;
float:left;
font-size:18px;
padding:0 10px;
}

div.clearb {
clear:both;
}

/*MINI CART*/
#minicart {
	background: #24486E url(/images/sctop.png) no-repeat;
	padding: 39px 0px 10px 0px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-radius-bottomleft: 6px;
	-webkit-border-radius-bottomright: 6px;
}
#minicart .content {
	background: #A2D1EE;
	margin: 0px 2px;
}

#minicart table{
	font-size:11px;
	width:100%;
}

#minicart table td{
	padding:5px 2px;
}

#minicart table td.cart_name{
	width:140px;
}

#minicart table td.cart_qty,#minicart table td.cart_prc {
	text-align:right;
}

/*BREAD*/
#bread {
	float: left;
	font-size: 11px;
}
#bread ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#bread li {
	float: left;
	margin-right: 10px;
}
#bread a.active {
	color: #333;
	display: block;
}
/*PAGES*/
#pages {
	float: right;
	font-size: 11px;
	margin-right: 14px;
}
#pages p {
	margin: 0;
}
/*ITEMS*/
.item {
	background: #FFF;
	padding: 7px;
	text-align: center;
	width: 150px;
	height:280px;
	_width: 164px;
	float: left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin-right: 11px;
	_margin-right: 9px;
	margin-bottom: 11px;
	-webkit-box-shadow: 0px 0px 2px #CCCCCC;
	-moz-box-shadow: 0px 0px 2px #CCCCCC;
	_border: 1px solid #E6E6E2;
	_border-bottom: 2px solid #E6E6E2;
}

.imageholder {
	width: 150px;
	height: 150px;
	display: table-cell;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 11px;
	color: #CCC;
}

.imageholder img{
	border:none;
}

.price {
	color: #447733;
	font-weight: bold;
	background: #CCFF99;
	margin: 10px 0px;
	padding: 4px 0px;
}
.name {
	font-size: 12px;
	height:35px;
}

/******NUEVO CSS FIN*******/
/******NUEVO CSS FIN*******/
/******NUEVO CSS FIN*******/
/******NUEVO CSS FIN*******/


/****IMPORTANTE TOOLBAR****/
.rte-toolbar a.image,.rte-toolbar a.link, .rte-toolbar a.unlink, .rte-toolbar select.style{
	display:none;
}

/****TAB NAVIGATION****/

ul.tabNavigation{
	list-style-type:none;
	padding:0px;
}

ul.tabNavigation li{
	float:left;
	margin-right:20px;
	font-size:16px;
}
