<% title "Winnamoney | My information" %>

<% content_for :header do %>
	<% if virtual_office? %>
		Virtual Office
	<% else %>
		Back Office
	<% end %>
<% end %>

<h2>User Information</h2>

<% content_for :sidebar do %>
	<p>
		<%= link_to	"Back to User Information", user_path(@user) + "#myinfo" %>
	</p>
	<p>
		<%= link_to	"Back to Account Information", user_path(@user) + "#accountinfo" %>
	</p>
<% end %>

<%= render :partial => 'form', :locals => {:user => @user} %>
