<% title "Winnamoney | Register" %>
<% if @current_user.nil? %>
	<h1>My Information</h1>
<% else %>
	<h1>User Information</h1>
<% end %>

<%= render :partial => 'form', :locals => {:user => @user} %>
