<% title "Winnamoney | Register" %>
<% content_for :heading do %>
	<% if @current_user.nil? %>
		<h2>My Information</h2>
	<% else %>
		<h2>User Information</h2>
	<% end %>
<% end %>

<%= render :partial => 'form', :locals => {:user => @user} %>
