<% title "Winnamoney | #{(I18n.t 'users.text.title')}" %>
<% content_for :heading do %>
	<h2><%= I18n.t 'users.text.header' %></h2>
<% end %>

<%= render :partial => 'form', :locals => {:user => @user} %>
