<% form_for order, :url => orders_path() do |f| %>
<%= error_messages_for :deposit_order %>

<%= f.hidden_field :payment_method %>
<%= f.hidden_field :order_type %>
<div class="clearb"></div>
<table class="tabla suscription">
	<thead>
		<tr>
			<th>Account Information</th>
			<th>USA</th>
		</tr>
	</thead>
	<tr>
		<td>Beneficiary</td>
		<td class="total">Winnamoney,LLC</th>
	</tr>
	<tr>
		<td>Bank</td>
		<td class="total">Wells Fargo Bank</th>
	</tr>
	<tr>
		<td>Account Number</th>
		<td class="total">XXXXXX7150</th>
	</tr>
</table>
<br />
<table class="tabla suscription">
	<thead>
		<tr>
			<th>Account Information</th>
			<th>M&eacute;xico</th>
		</tr>
	</thead>
	<tr>
		<td>Beneficiario</td>
		<td class="total">Pacific Western Bank</th>
	</tr>
	<tr>
		<td>Banco</td>
		<td class="total">Banamex</th>
	</tr>
	<tr>
		<td>Account Number</th>
		<td class="total">7704212</th>
	</tr>
</table>
<p>
	<%= image_submit_tag I18n.t('images.finish') %>
</p>
<% end %>