<% title "Winnamoney | #{I18n.t "orders.text.declined.title"}" %>

<% content_for :heading do %>
	<h2><%= I18n.t "orders.text.declined.header" %></h2>
<% end %>

<p><%= I18n.t "orders.text.declined.declined1" %></p>

<p><%= I18n.t "orders.text.declined.declined2" %></p>