<% title "Winnamoney | Payment Declined" %>

<% content_for :heading do %>
	<h2>Your Payment was declined</h2>
<% end %>

<p>Don't Worry, we haven't deducted any money from your credit card.</p>

<p>Please check with your bank and try again.</p>