<% title "Winnamoney | Register" %>
<% content_for :heading  do %>
	<h2>Confirm suscription and complete payment</h2>
<% end %>

<table style="text-align:left;border:1px solid black;">
	<tr>
		<th>Store name</th>
		<th>Amount</th>
	</tr>
	<tr>
		<td>http://<%= @user.store.name %>.winnamoney.com</th>
		<td>189.00 US$</th>
	</tr>
</table>

<%= render :partial => 'payment_types', :locals => {:credit_card_order => @credit_card_order, :deposit_order => @deposit_order, :contact_later_order => @contact_later_order, :express_checkout_order => @express_checkout_order, :user => @user} %>