<% title "Winnamoney | Registro"%>

<h1>Tu tienda se ha registrado con &eacute;xito</h1>

<p>Se ha enviado una notificaci&oacute;n al representante de winnamoney y nos pondremos en contacto contigo muy pronto.</p>

<p>Cuando completemos tu suscripci&oacute;n podr&aacute;s comenzar a vender con tu tienda en Winnamoney.</p>

<p><%= link_to "Ir a winnamoney", "/" %></p>