<% title "Winnamoney | Register Successful"%>

<% content_for :heading do %>
	<h2>Your Order was registered successfully!</h2>
<% end %>

<p>Your confirmation number is: <%= @order.id %></p>

<% if @order.suscription? %>
	<p>You will receive a confirmation E-mail to activate your account</p>
<% end %>

<p>We will be in touch with you soon to complete this transaction</p>