<% title 'Winnamoney | Company' %>
<div id="ribbon">
	<h1>Company Profile</h1>
</div>
<div class="pitch">
	<div id="colleft">
		<p> A group of visionary entrepreneurs have been working during years in developing the greatest and finest opportunity to create an innovative way to improve drastically the way of life of our associates.</p>
		
		<p>They envisioned a sales and marketing plan, with the goal of creating the biggest and fastest way to produce wellness and economic independence.</p>
		
		<p>Working along with a core group of business owners, they provided a new opportunity to people in the u.s., and in the near future Canada, Mexico, South America and Europe.</p>
		
		<p>
			In 2009, Winnamoney was launched to provide services combining the best aspects of the market with the power and convenience of the Internet.
		</p>
		
		<a href="/files/works.ppt">
			<img alt="Download Our Presentation" src="/images/download.png" style="border:none;"/>
		</a>
	</div>
	<div id="colright">
		<img src="/images/go.gif"/>
	</div>
	<div class="sep">
		<h2>Contact Us</h2>
		<div class="holderleft">
			<p>
			Winnamoney LLC
			<br/>
			4590 Deodar Street
			<br/>
			Silver Springs, NV 89429
			</p>
		</div>
		<div class="holderleft">
		<p>
		+1 (775) 629-2204 
		<br/>
			<a href="mailto:info@winnamoney.com">info@winnamoney.com</a>
		</p>
		</div>
		<div class="clearb">
		<small>The previous address and phone number is for Corporate use only.  For Distributor use, please fill out the contact form provided below:</small>
		</div>
	</div>
	<div class="sep">
		<h2>Distributors Contact Form</h2>
		<div class="form_left">
		<label for="name">Name:</label>
		<br/>
		<input id="name" class="in" type="text" name="name"/>
		<br/>
		<label for="email">Email:</label>
		<br/>
		<input id="email" class="in" type="text" name="email"/>
		<br/>
		<label for="phone">Phone:</label>
		<br/>
		<input id="phone" class="in" type="text" name="phone"/>
		</div>
		<div class="form_right">
			<label for="mensaje">Su mensaje:</label>
			<br/>
			<textarea class="in" rows="7" cols="30" name="mensaje" ></textarea>
			<br/>
			<input type="image" src="/images/send.jpg" name="submitimage"/>
		</div>
	</div>
</div>
<% content_for :rightbar do %>
	<h2>Mission</h2>
	<p>In Winnamoney, our mission is to change and improve lives, offering a rewarding business opportunity, and by giving back though our charitable initiatives.</p>
	<div class="separator">
		<h2>The Best Professionals</h2>
		<p>Winnamoney is an Equal opportunity Employer. Employment opportunities are always available for those professionals willing to bring added value to the Company, as well as their expertise, business acumen and experience.</p>
		<p>If you feel you can fit in our work team, please send your resume for evaluation to: <a href="mailto:jobs@winnamoney.com">jobs@winnamoney.com</a></p>
	</div>
<% end %>