<% title "Winnamoney | Opportunity" %>
<div id="ribbon">
	<h1>Opportunity</h1>
</div>
<div class="pitch">
	<div id="colleft">
	<h2>As a Winnamoney Independent Consultant you will:</h2>
	<p>
	<strong>Own Your business</strong> and economic and personal independence will be within your reach. You will become the administrator of your own destiny.</p>
	<p> 
		No problems, no inventory, no paperwork, no fixed costs. 
	</p>
	<p>
	To learn how to
	<strong>achieve a finantial weel-being today</strong>
	download the presentation contained details.
	</p>
	<a href="/files/works.ppt">
		<img alt="Download Our Presentation" src="/images/download.png" style="border:none;" />
	</a>
	</div>
	<div id="colright">
	<a href="#">
	<img src="/images/video.gif" style="border:none;"/>
	</a>
	<h3>Watch Our Video</h3>
	<p>Get up close personal with Winamoney’s Business opportunity.</p>
	</div>
	<div class="sep">
	<div class="holderleft">
		<img alt="" src="/images/lasvegas.jpg"/>
	</div>
	<h2>Travel for free with Winnamoney</h2>
	<p>If you are among those most successful Winnamoney consultants, you will win a ticket to enter in the drawing for a three days/two nights trip for two to Las vegas, with airfare and hotel included</p>
	</div>
</div>

<% content_for :rightbar do %>
	<h2>Benefits</h2>
	<ul id="benefits">
	<li>Your own business</li>
	<li>Your own shopping website</li>
	<li>25% Cashback Bonus on every purchase you make</li>
	<li>Earn 25% profit on every purchase others make in your web site mall</li>
	<li>Accumulate 25% in points per transaction, which will be redeemed into cash </li>
	<li>Residual income on the business network that you have created</li>
	<li>Bonuses to compensate your efforts</li>
	<li>The assurance that you will belong to a leading company</li>
	</ul>
<% end %>