<% title "Winnamoney | New Product" %>

<% content_for :sidebar do %>
	<p>
		<%= link_to	"Back to product listing", products_path %>
	</p>
<% end %>

<h2>New Product</h2>

<%= render :partial => 'form' %>

<p><%= link_to "Volver", products_path %></p>
