<h2>Categories</h2>
<ul>
	<% Category.all.each do |category| %>
		<li>
			<%= category.name %>
			<ul>
				<% category.subcategories.each do |subcat|%>
					<li><%= link_to subcat.name, subcat %></li>
				<% end %>
			</ul>
		</li>
	<% end %>
</ul>